body{
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
}

a{
	text-decoration: none;
	display: inline-block;
}

ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}


/* header */
.header-burger{
	display: none;
	cursor: pointer;
}
.bar1, .bar2, .bar3{
	width: 35px;
	height: 5px;
	background-color: #00A0B6;
	margin: 6px 0;
	border-radius: 5px;
	transition: 0.4s;
}
/* Rotate first bar */
.change .bar1{
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
/* Fade out the second bar */
.change .bar2{
	opacity: 0;
}
/* Rotate last bar */
.change .bar3{
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}


.header{
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	position: -webkit-fixed;
	top: 0px;
	z-index: 15;
}

.header-container{
	max-width: 1318px;
	height: 130px;
	margin: 0 auto;
	padding: 60px 0 0 0;
	display: flex;
	justify-content: space-between;
}


.header-menu-list{
	display: flex;
	align-items:center;
}
.header-menu-list li {
	display: inline-block;
	letter-spacing: 0.5px;
}
.header-menu-list li>a {
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.5px;
	text-align: left;
	margin: 5px 5px 5px 40px;
}
.header-button{
	max-height: 68px;
}
.header-button:hover{
	cursor: pointer;
}
.header-feedback-botton{
	font-size: 16px;
	line-height: 27px;
	padding: 15px 30px;
	border: 2px solid #00D2E0;
	color: #00D2E0;
}
.header-feedback-line{
	margin: 4px 0;
	border-color: #00D2E0;
}
.header-button:hover .header-feedback-botton{
	border-color: #FFD8A1;
	color: #FFD8A1;
}
.header-button:hover .header-feedback-line{
	border-color: #FFD8A1;
}

.header-menu-list li>a {
	color: #FFFFFF;
}


/* !!!!!!!!!!! */
.active-html{
	color: #00A0B6 !important;
}
/* !!!!!!!!!!! */

.header-menu-list li:hover{
	color: #FFFFFF;
}
.header-line{
	border-color: rgba(0, 0, 0, 0.8);
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	margin: 2px 0;
}


/* feedback-space */
.feedback-space{
	background: url('../img/feedback-fon.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	position: relative;
}
.feedback-space-container{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	min-height: 520px;
}
.feedback-line{
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: -5px;
	width: 100%;
	border: none;
	height: 2px;
	margin: 0;
}
.feedback-space-top{
	font-family: 'd_Kallisto', sans-serif;
	letter-spacing: 0.5px;
	font-size: 30px;
	line-height: 42px;
}
.feedback-space-top p{
	margin: 90px 0 20px 0;
}
.feedback-space-middle{
	display: flex;
	justify-content:space-between;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.5px;
	margin: 10px 0;
}
.text-border{
	width: 275px;
	height: 37px;
	padding: 0 10px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	border: 2px solid #00A0B6;
}
.feedback-space-middle div :first-child{
	text-align: left;
	margin-bottom: 3px;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.feedback-space-middle div :last-child{
	visibility: hidden;
	color: #00D2E0;
	text-align: left;
	margin-top: 3px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.feedback-space-bottom{
	max-width: 770px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 130px;
}
.feedback-space-bottom div>input:hover{
	cursor: pointer;
}
.feedback-space-submit-button button:hover{
	cursor: pointer;
}
.feedback-space-checkbox{
	letter-spacing: 0.5px;
	color: #FFFFFF;
	flex: 0 1 200px;
}
.feedback-space-checkbox input{
	width: 20px;
	height: 20px;
}
.submit-button{
	width: 226px;
	height: 60px;
	background-color: #00D2E0;
	border: 2px solid #00D2E0;
	font-family: 'd_Kallisto', sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #214145;
	letter-spacing: 0.1px;
	font-size: 16px;
	line-height: 27px;
	padding: 15px 30px;
	margin: 38px 30px 0 0;
}
.feedback-space-submit-button-line{
	background-color: #00D2E0;
	border-color: #00D2E0;
	width: 224px;
	height: 1px;
	margin: 4px 0;
}
.space-1{
	order: 1;
}
.space-2{
	order: 3;
}
.modal-submit-bottom{
	order: 2;
}


/* partners */
.partners-photos{
	max-width: 1350px;
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	min-height: 300px;
}

.partners-1{
	padding: 20px;
}
.partners-2{
	padding: 20px;
}
.partners-3{
	padding: 25px;
}
.partners-4{
	padding: 7px;
}
.partners-5{
	padding: 30px;
}
.partners-photos div:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}




/* footer */
.footer-line{
	background-color: rgba(0, 0, 0, 0.8);
	border: none;
	height: 2px;
	margin: 2px 0;
}
.footer{
	min-height: 343px;
	background: rgba(0, 0, 0, 0.8);
	position: relative;
}
.top-button{
	position: absolute;
	bottom: 152px;
	right: 116px;
	opacity: 0.5;
}
#upbutton img{
	width: 45px;
	height: 50px;
}
.footer-container{
	padding: 111px 0;
	max-width: 1380px;
	margin: 0 auto;
	color: #FFFFFF;
}
.footer-top{
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-menu-list li{
	display: inline;
}
.footer-menu-list li>a {
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.5px;
	margin-left: 53px;
	color: #FFFFFF;
}
.footer-menu-list li:hover{
	color: #FFFFFF;
}
.footer-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
}
.footer-bottom-copyright{
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.5px;
}
.footer-bottom-right{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-bottom-mail a{
	padding: 5px 0 5px 30px;
	background: url('../img/Mail.svg')left no-repeat;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
}
.footer-bottom-phone a{
	padding: 5px 0 5px 30px;
	margin-left: 50px;
	background: url('../img/phone.svg')left no-repeat;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
}
.footer-bottom-mail a:hover{
	color: #FFFFFF;
}
.footer-bottom-phone a:hover{
	color: #FFFFFF;
}


/* fancybox */
#modal{
	display: none;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	background-color: #FFFFFF;
	color: #00A0B6;
	letter-spacing: 0.5px;
	width: 400px;
	height: 660px;
}
.fancybox-slide--html .fancybox-close-small{
	color: #00A0B6;
	top: 15px;
	right: 25px;
}
.fancybox-button svg{
	width: 40px;
	height: 40px;
}
.modal-header{
	height: 100px;
	background: #2B2B2B;
}
.modal-header img{
	width: 119px;
	height: 36px;
	position: absolute;
	top: 31px;
	left: 47px;
}
.fancybox-content{
	padding: 0;
	text-align: center;
}
.modal-textbox div :first-child{
	margin: 0;
	text-align: left;
}
.modal-textbox div :last-child{
	visibility: hidden;
	margin: 5px 0 15px 0;
	text-align: left;
}
.modal-main{
	padding: 30px 0;
}
.modal-checkbox input{
	vertical-align: bottom;
}
.modal-textbox{
	padding: 0 60px;
}
.modal-submit{
	padding: 0 60px;
}
.modal-checkbox{
	color: #00A0B6;
	text-align: left;
	margin-bottom: 20px;
}
.modal-submit-bottom{
	margin: 40px 0 20px 0;

}
.modal-submit-bottom :hover{
	cursor: pointer;
}
.modal-button{
	width: 226px;
	height: 54px;
	padding: 0;
	background: #00D2E0;
	border: 2px solid #00D2E0;
	font-family: 'd_Kallisto', sans-serif;
	font-size: 16px;
	line-height: 27px;
	color: #214145;
	outline: none;

}
.modal-checkbox input:hover{
	cursor: pointer;
}
.modal-button-line{
	width: 226px;
	height: 3px;
	margin-top: 4px;
	border: none;
	background: #00D2E0;
}
